<!DOCTYPE html>
<html>
  <head>
    <title>LegacyChronicler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
